{% extends "/template/base.twig" %}
{% block title %}List Categories{% endblock %}
{% block content %}
    <div class="header-list-page">
        <h1 class="title">Categories</h1>
        <a href="/categories/new" class="btn-action">Add new Category</a>
    </div>
    <table class="data-grid" id="categories-list">
        <thead>
            <tr class="data-row">
                <th class="data-grid-th">
                    <span class="data-grid-cell-content">Id</span>
                </th>
                <th class="data-grid-th">
                    <span class="data-grid-cell-content">Name</span>
                </th>
                <th class="data-grid-th">
                    <span class="data-grid-cell-content">Code</span>
                </th>
                <th class="data-grid-th">
                    <span class="data-grid-cell-content">Actions</span>
                </th>
            </tr>
        </thead>
        <tbody>
        {% if categories|length > 0 %}
            {% for category in categories %}
            <tr class="data-row">
                <td class="data-grid-td">
                    <span class="data-grid-cell-content"> {{ category.id | e }} </span>
                </td>

                <td class="data-grid-td">
                    <span class="data-grid-cell-content"> {{ category.name | e }} </span>
                </td>

                <td class="data-grid-td">
                    <span class="data-grid-cell-content"> {{ category.code | e }} </span>
                </td>

                <td class="data-grid-td">
                    <div class="actions">
                        <div class="action edit">
                            <a href="{{ '/categories/' ~ category.id }}">
                                <span>Edit</span>
                            </a>
                        </div>
                        <div class="action delete">
                            <a href="Javascript: void(0);"
                               onclick="confirmDelete('{{ '/categories/' ~ category.id ~ '/delete' }}')">
                                <span>Delete</span>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr class="data-row">
                <td class="data-grid-td" colspan="3">
                    No categories registered
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <script>
        $(document).ready( function () {
            $('#categories-list').DataTable();
        });
    </script>
{% endblock %}
