{% extends "/template/base.twig" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div class="header-list-page">
        <h1 class="title">Home Page</h1>
    </div>
    <div class="infor">
        <a href="/categories/new" class="btn-action">Add new Category</a><br /><br /><br />

        <a href="/products/new" class="btn-action">Add new Product</a>
    </div>
{% endblock %}
