{% extends "/template/base.twig" %}
{% block title %}New Category{% endblock %}
{% block content %}
    <h1 class="title new-item">
        {% if category %}
        Edit Category
        {% else %}
        New Category
        {% endif %}
    </h1>

    <form action="{{ action }}" method="POST">
        <div class="input-field">
            <div>
                <label for="name" class="label">Category Name</label>
                {% if data %}
                    <input type="text" id="name" name="name" class="input-text" value="{{ data.name|e }}" />
                {% elseif category.name %}
                    <input type="text" id="name" name="name" class="input-text" value="{{ category.name|e }}" />
                {% else %}
                    <input type="text" id="name" name="name" class="input-text" />
                {% endif %}
            </div>
            {% if validation.name %}
            <div>
                <label class="label"></label>
                {% for error in validation.name %}
                <label style="color: red;">{{ error }}</label>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="input-field">
            <div>
                <label for="code" class="label">Category Code</label>
                {% if data %}
                <input type="text" id="code" name="code" class="input-text" value="{{ data.code|e }}" />
                {% elseif category.code %}
                <input type="text" id="code" name="code" class="input-text" value="{{ category.code|e }}" />
                {% else %}
                <input type="text" id="code" name="code" class="input-text" />
                {% endif %}
            </div>
            {% if validation.code %}
            <div>
                <label class="label"></label>
                {% for error in validation.code %}
                <label style="color: red;">{{ error }}</label>
                {% endfor %}
            </div>
            {% endif %}
        </div>


        <div class="actions-form">
            <a href="/categories" class="action back">Back to Categories</a>
            <button class="btn-submit btn-action" type="submit">Save Category</button>
        </div>
    </form>
{% endblock %}
