{% extends "/template/base.twig" %}
{% block title %}New Product{% endblock %}
{% block content %}
    <h1 class="title new-item">
        {% if product %}
        Edit Product
        {% else %}
        New Product
        {% endif %}
    </h1>

    <form action="{{ action }}" method="POST" enctype="multipart/form-data">
        <div class="input-field">
            <div>
                <label for="sku" class="label">Product SKU</label>
                {% if data %}
                <input type="text" id="sku" name="sku" class="input-text" value="{{ data.sku|e }}" />
                {% elseif product.sku %}
                <input type="text" id="sku" name="sku" class="input-text" value="{{ product.sku|e }}" />
                {% else %}
                <input type="text" id="sku" name="sku" class="input-text" />
                {% endif %}
            </div>
            {% if validation.sku %}
            <div>
                <label class="label"></label>
                {% for error in validation.sku %}
                    <label style="color: red;">{{ error }}</label>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="input-field">
            <div>
                <label for="name" class="label">Product Name</label>
                {% if data %}
                <input type="text" id="name" name="name" class="input-text" value="{{ data.name|e }}" />
                {% elseif product.name %}
                <input type="text" id="name" name="name" class="input-text" value="{{ product.name|e }}" />
                {% else %}
                <input type="text" id="name" name="name" class="input-text" />
                {% endif %}
            </div>
            {% if validation.name %}
            <div>
                <label class="label"></label>
                {% for error in validation.name %}
                    <label style="color: red;">{{ error }}</label>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="input-field">
            <div>
                <label for="price" class="label">Price</label>
                {% if data %}
                <input type="text" id="price" name="price" class="input-text" value="{{ data.price|e }}" />
                {% elseif product.price %}
                <input type="text" id="price" name="price" class="input-text" value="{{ product.price|e }}" />
                {% else %}
                <input type="text" id="price" name="price" class="input-text" />
                {% endif %}
            </div>
            {% if validation.price %}
            <div>
                <label class="label"></label>
                {% for error in validation.price %}
                    <label style="color: red;">{{ error }}</label>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="input-field">
            <div>
                <label for="quantity" class="label">Quantity</label>
                {% if data %}
                <input type="text" id="quantity" name="quantity" class="input-text" value="{{ data.quantity|e }}" />
                {% elseif product.quantity %}
                <input type="text" id="quantity" name="quantity" class="input-text" value="{{ product.quantity|e }}" />
                {% else %}
                <input type="text" id="quantity" name="quantity" class="input-text" />
                {% endif %}
            </div>
            {% if validation.quantity %}
            <div>
                <label class="label"></label>
                {% for error in validation.quantity %}
                    <label style="color: red;">{{ error }}</label>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="input-field">
            <div>
                <label for="categories" class="label">Categories</label>
                <select multiple id="categories" name="categories[]" class="input-text">
                    {% for category in categories %}
                        {% if data  %}
                            {% if category.id in data.categories %}
                            <option value="{{ category.id|e }}" selected>
                            {% else %}
                            <option value="{{ category.id|e }}">
                            {% endif %}
                        {% elseif category.id in product_categories %}
                        <option value="{{ category.id|e }}" selected>
                        {% else %}
                        <option value="{{ category.id|e }}">
                        {% endif %}
                            {{ category.name|e }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            {% if validation.categories %}
            <div>
                <label class="label"></label>
                {% for error in validation.categories %}
                    <label style="color: red;">{{ error }}</label>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="input-field">
            <div>
                <label for="description" class="label">Description</label>
                {% spaceless %}
                <textarea id="description" name="description"
                    class="input-text">{% if data
                        %}{{ data.description|e }}{%
                    elseif product.description
                        %}{{ product.description|e }}{%
                    endif
                %}</textarea>
                {% endspaceless %}
            </div>
            {% if validation.description %}
                <div>
                    <label class="label"></label>
                    {% for error in validation.description %}
                    <label style="color: red;">{{ error }}</label>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% if image %}
        <div class="input-field">
            <label for="image" class="label">Profile Image</label>
            <img src="{{ image.url }}" style="max-width: 200px; max-height: 200px;" />
            <button type="button" onclick="document.getElementById('image_field').style.display = 'block';">
                Edit Photo
            </button>
        </div>
        {% endif %}
        <div class="input-field" id="image_field" {% if image %} style="display: none;" {% endif %}>
            <div>
                <label for="image" class="label">Profile Image</label>
                <input type="file" id="image" name="image" class="input-text" alt="profile_image"
                       accept="image/png, image/jpeg, image/gif" />
            </div>
            {% if validation.image %}
            <div>
                <label class="label"></label>
                {% for error in validation.image %}
                <label style="color: red;">{{ error }}</label>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="actions-form">
            <a href="/products" class="action back">Back to Products</a>
            <button class="btn-submit btn-action" type="submit">Save Product</button>
        </div>
    </form>
{% endblock %}
