{% extends "/template/base.twig" %}
{% block title %}List Products{% endblock %}
{% block content %}
    <div class="header-list-page">
        <h1 class="title">Products</h1>
        <a href="/products/new" class="btn-action">Add new Product</a>
    </div>
    <table class="data-grid" id="products-list">
        <thead>
            <tr class="data-row">
                <th class="data-grid-th">
                    <span class="data-grid-cell-content">Id</span>
                </th>
                <th class="data-grid-th">
                    <span class="data-grid-cell-content">Name</span>
                </th>
                <th class="data-grid-th">
                    <span class="data-grid-cell-content">SKU</span>
                </th>
                <th class="data-grid-th">
                    <span class="data-grid-cell-content">Price</span>
                </th>
                <th class="data-grid-th">
                    <span class="data-grid-cell-content">Quantity</span>
                </th>
                <th class="data-grid-th">
                    <span class="data-grid-cell-content">Categories</span>
                </th>

                <th class="data-grid-th">
                    <span class="data-grid-cell-content">Actions</span>
                </th>
            </tr>
        </thead>
        <tbody>
        {% if products|length > 0 %}
            {% for product in products %}
                <tr class="data-row">
                    <td class="data-grid-td">
                        <span class="data-grid-cell-content">{{ product.id|e }}</span>
                    </td>

                    <td class="data-grid-td">
                        <span class="data-grid-cell-content">{{ product.name|e }}</span>
                    </td>

                    <td class="data-grid-td">
                        <span class="data-grid-cell-content">{{ product.sku|e }}</span>
                    </td>

                    <td class="data-grid-td">
                        <span class="data-grid-cell-content">{{ product.price|e }}</span>
                    </td>

                    <td class="data-grid-td">
                        <span class="data-grid-cell-content">{{ product.quantity|e }}</span>
                    </td>

                    <td class="data-grid-td">
                        <span class="data-grid-cell-content">
                            {% for category in product.categories %}
                                {{ category.name|e }} <br />
                            {% endfor %}
                        </span>
                    </td>

                    <td class="data-grid-td">
                        <div class="actions">
                            <div class="action edit">
                                <a href="{{ '/products/' ~ product.id }}">
                                    <span>Edit</span>
                                </a>
                            </div>

                            <div class="action delete">
                                <a href="Javascript: void(0);"
                                   onclick="confirmDelete('{{ '/products/' ~ product.id ~ '/delete' }}')">
                                    <span>Delete</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="data-row">
                <td class="data-grid-td" colspan="7">
                    No products registered
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <script>
        $(document).ready( function () {
            $('#products-list').DataTable();
        });
    </script>
{% endblock %}
