<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Webjump | Backend Test | {% block title %}{% endblock %}</title>
        {{ include('/components/head.twig') }}
    </head>
    {{ include('/components/sidebar.twig') }}
    {{ include('/components/header.twig') }}
    <body>
        <!-- Main Content -->
        <main class="content">{% block content %}{% endblock %}</main>
        {% if message is defined %}
            <script>
                window.onload = function () {
                    message('{{ message.type }}', '{{ message.text }}');
                }
            </script>
        {% endif %}
        {{ include('/components/footer.twig') }}
    </body>
</html>
