<!-- Header -->
<header>
    <div class="go-menu">
        <a on="tap:sidebar.toggle" style="cursor: pointer;">☰</a>
        <a href="/" class="link-logo"><img src="/assets/images/go-logo.png" alt="Welcome" width="69" height="430" /></a>
    </div>
    <div class="right-box">
        <span class="go-title">Administration Panel</span>
    </div>
</header>
<!-- Header -->
