<!-- Sidebar -->
<amp-sidebar id="sidebar" class="sample-sidebar" layout="nodisplay" side="left">
    <div class="close-menu">
        <a on="tap:sidebar.toggle">
            <img src="/assets/images/bt-close.png" alt="Close Menu" width="24" height="24" style="cursor: pointer;" />
        </a>
    </div>
    <a href="/"><img src="/assets/images/menu-go-jumpers.png" alt="Welcome" width="200" height="43" /></a>
    <div>
        <ul>
            <li><a href="/categories" class="link-menu">Categories</a></li>
            <li><a href="/products" class="link-menu">Products</a></li>
        </ul>
    </div>
</amp-sidebar>
<!-- Sidebar -->
